body{
  padding-top: 150px;
  font-family: Montserrat,Arial;
  background-color:rgb(222, 241, 247) ;
}
.nav-bar{
  display: flex;
  justify-content: space-between;
  margin-top: 41px;
  align-items: center;
  position: absolute;
  top:0;
  right: 0;
  left: 0;
margin-bottom: 20px;
}
.left-section{

  padding-top: 14px;
  padding-bottom: 14px;
  margin-left: 204px;
  }
  .middle-section{
    width: 600px;
    display: flex;
    justify-content: space-between;
    padding:14px 7px 14px 7px;
  }
  .nav-bar-button{
    font-size: 24px;
    text-decoration: underline;
    cursor: pointer;
  }
  .right-section{
   
    display: flex;
    width: 150px;
    justify-content: space-between;
    align-items: center;
    font-size: 18;
    padding:14px 7px 14px 7px;
    margin-right: 100px;
  }
  .h2{
    font-size: 42px;
    font-weight: bold;
  }
  .container{
    margin-left: 204px;
    margin-right: 204px;
  }
  .title-contactus{
    display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
  }
  .contactus-container{
    display: grid;
    grid-template-columns: 1fr 1fr;;
    margin-bottom: 100px;
  }
  .formular{
    display: flex;
    flex-direction: column;
    height: 530px;
    width: 600px;
    background-color: rgb(61, 164, 197);
  }
  .formular-tip1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    margin-right: 30px;
    margin-left: 30px;
  }
  .formular-tip2{
   margin-top: 30px;
    margin-right: 30px;
    margin-left: 30px;
    
  }
  .info1{
    font-size: 18px;
    padding:14px;
    background-color:rgb(222, 241, 247) ;
  }
  .info2{
    font-size: 18px;
    padding-left: 14px;
    padding-top: 14px;
    padding-right: 300px;
    padding-bottom: 184px;
    background-color:rgb(222, 241, 247) ;
  }
  .content{
    margin-left: 100px;
    font-size: 18px;
    padding-top: 12px;
    display: grid;
    grid-template-rows: 50px 1fr;
  }
  .formular-tip3{
    margin-top: 30px;
    margin-left: 184px;
   
  }
  .submit{
    font-size: 18px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: 84px;
    padding-left: 84px;
    background-color:rgb(222, 241, 247) ;
  }


  .h3-rights{
    color: rgb(50, 48, 48);
    font-size: 16px;
  }
  .rights{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }